<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {%  bootstrap_javascript %}
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'biblioteka' %}">Menu</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px"  href="http://127.0.0.1:8000/delete_book/{{students.id}}">Delete</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="http://127.0.0.1:8000/update_book/{{students.id}}">Update</a>
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">
                <h3>Name: {{students.books_name}}</h3>
                <h3>Year: {{students.prod_year}}</h3>
                <h3>Zhanr: {{students.zhanr}}</h3>
                <h3>Aftor: {{students.aftor}}</h3>
            </div>
        </div>


{% endblock content %}
</body>
</html>