<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rohbar Informatin</title>
        <link rel="stylesheet" href="{% static 'index21.css' %}">
</head>
<body>



    <div class="a1">
        <h1>Information</h1>
        <a href="http://127.0.0.1:8000/Rohbar_information"><h3 class="sa">Rohbar</h3></a>
        <a href="http://127.0.0.1:8000/Books_online"><h3 class="sas">Home</h3></a>

    </div>


<div class="a2">
    <h2 class="a3">Book_name</h2>
    <h2 class="a3">Sinfhosh</h2>
    <h2 class="a3">Narkhosh</h2>
    <h2 class="a3">Rohbar_sinf</h2>
    <h2 class="a3">Floor</h2>
    <h2 class="a3">Kabinet</h2>
</div>



<br>
<div class="a4">
<h4 class="aa1">1.Adabiyot</h6>
<h4 class="aa2">Sinfi 11A</h6>
<h4 class="aa3">750 somoni</h6>
<h4 class="aa4">Khalima Zair</h6>
<h4 class="aa5">1</h6>
<h4 class="aa6">3</h6>
</div>



<br>

<div class="a4">
    <h4 class="aa1">1.Adabiyot</h6>
    <h4 class="aa2">Sinfi 11A</h6>
    <h4 class="aa3">750 somoni</h6>
    <h4 class="aa4">Khalima Zair</h6>
    <h4 class="aa5">1</h6>
    <h4 class="aa6">3</h6>
    </div>

    <br>


    <div class="a4">
        <h4 class="aa1">1.Adabiyot</h6>
        <h4 class="aa2">Sinfi 11A</h6>
        <h4 class="aa3">750 somoni</h6>
        <h4 class="aa4">Khalima Zair</h6>
        <h4 class="aa5">1</h6>
        <h4 class="aa6">3</h6>
        </div>



        <br>

        <div class="a4">
            <h4 class="aa1">1.Adabiyot</h6>
            <h4 class="aa2">Sinfi 11A</h6>
            <h4 class="aa3">750 somoni</h6>
            <h4 class="aa4">Khalima Zair</h6>
            <h4 class="aa5">1</h6>
            <h4 class="aa6">3</h6>
            </div>


            <br>
            <div class="a4">
                <h4 class="aa1">1.Adabiyot</h6>
                <h4 class="aa2">Sinfi 11A</h6>
                <h4 class="aa3">750 somoni</h6>
                <h4 class="aa4">Khalima Zair</h6>
                <h4 class="aa5">1</h6>
                <h4 class="aa6">3</h6>
                </div>



                <br>


                <div class="a4">
                    <h4 class="aa1">1.Adabiyot</h6>
                    <h4 class="aa2">Sinfi 11A</h6>
                    <h4 class="aa3">750 somoni</h6>
                    <h4 class="aa4">Khalima Zair</h6>
                    <h4 class="aa5">1</h6>
                    <h4 class="aa6">3</h6>
                    </div>




                <br>


                <div class="a4">
                    <h4 class="aa1">1.Adabiyot</h6>
                    <h4 class="aa2">Sinfi 11A</h6>
                    <h4 class="aa3">750 somoni</h6>
                    <h4 class="aa4">Khalima Zair</h6>
                    <h4 class="aa5">1</h6>
                    <h4 class="aa6">3</h6>
                    </div>


                    <br>


                    <div class="a4">
                        <h4 class="aa1">1.Adabiyot</h6>
                        <h4 class="aa2">Sinfi 11A</h6>
                        <h4 class="aa3">750 somoni</h6>
                        <h4 class="aa4">Khalima Zair</h6>
                        <h4 class="aa5">1</h6>
                        <h4 class="aa6">3</h6>
                        </div>

<br>

                        <div class="a4">
                            <h4 class="aa1">1.Adabiyot</h6>
                            <h4 class="aa2">Sinfi 11A</h6>
                            <h4 class="aa3">750 somoni</h6>
                            <h4 class="aa4">Khalima Zair</h6>
                            <h4 class="aa5">1</h6>
                            <h4 class="aa6">3</h6>
                            </div>


<br>
                            <div class="a4">
                                <h4 class="aa1">1.Adabiyot</h6>
                                <h4 class="aa2">Sinfi 11A</h6>
                                <h4 class="aa3">750 somoni</h6>
                                <h4 class="aa4">Khalima Zair</h6>
                                <h4 class="aa5">1</h6>
                                <h4 class="aa6">3</h6>
                                </div>


                                <br>
                                <div class="a4">
                                    <h4 class="aa1">1.Adabiyot</h6>
                                    <h4 class="aa2">Sinfi 11A</h6>
                                    <h4 class="aa3">750 somoni</h6>
                                    <h4 class="aa4">Khalima Zair</h6>
                                    <h4 class="aa5">1</h6>
                                    <h4 class="aa6">3</h6>
                                    </div>






    
</body>
</html>