<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rohbar Informatin</title>
        <link rel="stylesheet" href="{% static 'index2.css' %}">
</head>
<body>



    <div class="a1">
        <h1>Information</h1>
        <a href="http://127.0.0.1:8000/Biblioteka_information"><h3 class="sa">Biblioteka</h3></a>
        <a href="http://127.0.0.1:8000/Books_online"><h3 class="sas">Home</h3></a>

    </div>


<div class="a2">
    <h2 class="a3">Fullname</h2>
    <h2 class="a3">Email</h2>
    <h2 class="a3">Narkhi kitob</h2>
    <h2 class="a3">Suporidani sumi kitob</h2>
    <h2 class="a3">Phone Number</h2>
    <h2 class="a3">Adres</h2>
</div>



<br>
<div class="a4">
<h6 class="aa1">1.Ibragimov Sunatullo</h6>
<h6 class="aa2">Ibr@gmail.com</h6>
<h6 class="aa3">145 somoni</h6>
<h6 class="aa4">True</h6>
<h6 class="aa5">+992 000059478</h6>
<h6 class="aa6">K.Hosilot Kh.184g</h6>
</div>

<br>
<div class="a4">
    <h6 class="aa1">2.Abdushidov Abdulo</h6>
    <h6 class="aa2">Abl@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">False</h6>
    <h6 class="aa5">+992 000009478</h6>
    <h6 class="aa6">K.46 Kh.18sg</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">3.Tavhidjo Vohidzoda</h6>
    <h6 class="aa2">Tav@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000029478</h6>
    <h6 class="aa6">K.prafsayuz Kh.1g</h6>


</div>

<br>
<div class="a4">
    <h6 class="aa1">4.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ibr@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>

<br>
<div class="a4">
    <h6 class="aa1">5.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ibr@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">6.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ibr@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">7.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ibr@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">8.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ibr@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">9.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ibr@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">10.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ib@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">11.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ib@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">12.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ib@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>
<br>
<div class="a4">
    <h6 class="aa1">13.Ibragimov Sunatullo</h6>
    <h6 class="aa2">Ib@gmail.com</h6>
    <h6 class="aa3">145 somoni</h6>
    <h6 class="aa4">True</h6>
    <h6 class="aa5">+992 000059478</h6>
    <h6 class="aa6">K.Hosilot Kh.184g</h6>


</div>


<br>




    
</body>
</html>