<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rohbar Informatin</title>
        <link rel="stylesheet" href="{% static 'index21.css' %}">
</head>
<body>



    <div class="a1">
        <h1>Information</h1>
        <a href="http://127.0.0.1:8000/Rohbar_information"><h3 class="sa">Rohbar</h3></a>
        <a href="http://127.0.0.1:8000/Books_online"><h3 class="sas">Home</h3></a>

    </div>

<div class="b1">
        {% if books.count > 0  %}
        <table>
            <tr>
                <th>books_name</th>
                <th>prod_year</th>
                <th>zhanr</th>
                <th>aftor</th>

        
            </tr>
        {% for student in books  %}
        <tr>
        <td>{{student.books_name}} {{student.last_name}}</td>
        <td>{{student.prod_year}}</td>
        <td>{{student.zhanr}}</td>
        <td>{{student.aftor}}</td>

        
        
        </tr>
        
        {% endfor %}
        </table>
        {% endif %}
        </div>



    
</body>
</html>