{% extends "index.html" %}
{% block title %}Register Biblioteka{% endblock title %}
{% block content %}
<div class="aa11">
    <div class="e2">
        <label class="a33" for="a1">Username</label>
        <input type="text" placeholder="Enter your name" id="a1">
    </div>
    <div class="c1">
        <div class="e1">
            <label class="a33" for="a2">Password</label>
            <input type="password" placeholder="Enter your Password" id="a2">
        </div>
    </div>
    <a href="{% url 'biblioteka' %}"><h2 class="aaa1">OK</h2></a>
</div>
{% endblock content %}