    <!DOCTYPE html>
    {% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="{% static "index1.css" %}">
    </head>
    <body>
    <!-- 
        <label  for="a1" > What is your name:  </label>
        <input type="text" placeholder="Name" id="a1">

        <br>
        <br>
        <textarea cols="38" rows="5" placeholder="About My Self"></textarea>
        <br>
        <fieldset>
            <legend>  </legend>
        <select >
            <optgroup label="bad">
            <option >0</option>
            <option >1</option>
            <option >2</option>
            <option >3</option>
    </optgroup>
    <optgroup label="good">

            <option >4</option>
            <option >5</option>
    </optgroup>
        </select>
        </fieldset> -->





    <form action="" class="c2">
        <h2>Registration</h2>
        <br>
        <div class="c1">
            <div class="e1">
                <label class="a3" for="a1">Full Name</label> <br><br>
                <input type="text"  placeholder="Enter your name" id="a1">
            </div>
        <br>
    <div class="e2">
        <label class="a3" for="a1">Username</label>
        <br><br>
        <input type="text"  placeholder="Enter your name" id="a1">
        </div>
        </div>
        <br>
        <div class="c1">
            <div class="e1">
                <label class="a3" for="a2">Email</label> <br><br>
                <input type="text" placeholder="Enter your name" id="a2">
            </div>
                <br>
            <div class="e2">
                <label class="a3" for="a2">Phone Number</label> <br><br>
                <input type="text"  placeholder="Enter your name" id="a2">
            </div>
            <br>
        </div>
        <br><br>
        <div class="c1">
            <div class="e1">
                <label class="a3" for="a2">Possword</label>
                <br><br>
                <input type="text"  placeholder="Enter your name" id="a2">
            </div>
        <br>
        <div class="e2"> 
            <label class="a3" for="a2">Confirm Password</label>
            <br><br>
            <input type="text"  placeholder="Enter your name" id="a2">
            </div>
            <br>
    </div>
    <br>  
    <h3> Gender </h3>
    <br>
    <div class="cd">

        <div class="e3">
            <input type="radio"> <p class="p"> Male </p>
            </div>
            <div class="e3">
                <input type="radio"> <p class="p"> Famale </p>
            </div>
            <div class="e3">
                <input type="radio"> <p class="p"> Preter not to say </p>
            </div>
        </div>
        <div class="d1">
    <a href="http://127.0.0.1:8000/Books_online"><h2>Register</h2></a>
    </div>
    </form>


    </body>
    </html>