<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Online</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <div class="a1">
        <h1 class="a2">Book Online</h1>

        <a href='http://127.0.0.1:8000/Rohbar'><h3 class="a3">Rohbar</h3></a>
        <a href='http://127.0.0.1:8000/Biblioteka'><h3 class="a4">Biblioteka</h3></a>

    </div>


    <div class="a5">
        <div class="a8">
            <h1 class="qw">Books Online</h1>
            <br><br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rerum aspernatur minus consequuntur. Ut, eius magnam quo quibusdam, error iusto facilis modi mollitia minus dolores a enim amet tenetur dolorem!
            Obcaecati cum ea cupiditate sed autem ratione deleniti impedit. Ut ullam, aliquam atque in provident mollitia accusantium quam temporibus similique beatae natus necessitatibus, dolorem pariatur, repellendus alias. Eius, distinctio nisi.</p>
          <br>  <a href='http://127.0.0.1:8000/Biblioteka'><h3 class="a">Biblioteka</h3></a>
        </div>
        <div class="a7">
       <img class="a6" src="{% static 'img.jpg' %}" alt=""> 
    </div>  
</div>
<hr>


<div class="aa1">
    <h1 class="aa2">Very good</h1>
</div>


</body>
</html>