{% extends "get_book.html" %}
{% block title %}Menu{% endblock title %}
{% block content %}

<!-- <h1>{% if object %}Таҳрири Китоб{% else %}Иловаи Китоб{% endif %}</h1>
    
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit">{% if object %}Таҳрир кардан{% else %}Илова кардан{% endif %}</button>
</form> -->

<!-- <a href="{% url 'biblioteka' %}">Баргаштан ба Рӯйхати Китобҳо</a> -->

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
        <h2 class="text-center text-primary mb-4">{% if object %}Таҳрири Китоб{% else %}Иловаи Китоб{% endif %}</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success w-50">{% if object %}Таҳрир кардан{% else %}Илова кардан{% endif %}</button>
            </div>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'biblioteka' %}" class="btn btn-secondary w-50">Баргаштан ба Рӯйхати Китобҳо</a>
        </div>
    </div>
</div>

{% endblock content %}