body{
    /* padding: 20px; */
    background-color: sandybrown;
    padding-top: 70px;
}
.aa1{
    margin-left: 480px;
    margin-top: 100px;
    border: 2px white solid;
    width: 200px;
    padding: 10px;

}
.e2{
    margin-left: 20px;
}
.c1{
    margin-left: 20px;
}
.aaa1{
    margin-left: 70px;

    width: 40px;
    text-align: center;

}